@charset "utf-8";
#sidebar .sectionvehicle #frmselectvh {
	margin-left: 8px;
	margin-right: 6px;
}
#sidebar .vehicledetlist {
	
	margin-top: .8em;
	margin-right: .6em;
	margin-bottom: .8em;
	margin-left: .6em;
}
#sidebar .vehicledetlist table {
}
.vehicledetlist table tr th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	padding: 5px;
	text-align: left;
	border: 1px solid #E9E9E9;
}
.vehicledetlist table tr td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	border: 1px solid #E9E9E9;
}
.sectionvehicle #frmselectvh label {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}


.box{
	border: 1px inset #999;
	margin-left: 8px;
}
.box, .box .antiscroll-inner {
	height: 600px;
	width: 220px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
